@font-face {
  font-family: "Suisse_Intl_light";
  src: url(../../public/fonts/SuisseIntl-Light.woff2);
}
@font-face {
  font-family: "Suisse_Intl_regular";
  src: url(../../public/fonts/SuisseIntl-Regular.woff2);
}

@import "tailwindcss";

body{
  overflow-x: hidden;
  width: 100%;
  color: #0e1111;
  background-color: #FFFAF0;
}
p {
  font-family: Suisse_Intl_regular;
}
.custom_scroller::-webkit-scrollbar{
  background-color: rgba(128, 128, 128, 0.388);
  height: 3px;
}
.custom_scroller::-webkit-scrollbar-thumb {
  background-color: #0e1111;
  border-radius: 10px;
}
.custom_scrollbar::-webkit-scrollbar{
  background-color: rgba(128, 128, 128, 0.247);
  width: 4px;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #0e111179;
  border-radius: 10px;
  cursor: pointer;
}

.scroller_none::-webkit-scrollbar{
  display: none;
}
[data-lenis-prevent] {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
.fixy1{
  transform: translateY(1px);
}
.fixy1_5{
  transform: translateY(1.5px);
}
.black {
  background-color: #0e1111;
}
.font_light{
  font-family: Suisse_Intl_light;
}
button{
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* default Swiper pagination styling override */
.swiper_elem_2 .swiper-pagination {
  bottom: 0px !important;   /* push a bit up from bottom */
  left: 50% !important;
  transform: translateX(-50%) !important;
  text-align: center !important;
}

.swiper_elem_2 .swiper-pagination-bullet {
  background: #000 !important; /* black bullets */
  opacity: 0.2;
}

.swiper_elem_2 .swiper-pagination-bullet-active {
  background: #000 !important; /* active bullet */
  opacity: 1;
}
