@font-face {
  font-family: "font_thin";
  src: url(../../public/fonts/OnsiteStandardTRIAL-Thin-BF64b60bd69edfe.otf);
}
@font-face {
  font-family: "font_light";
  src: url(../../public/fonts/OnsiteStandardTRIAL-Light-BF64b60bd6cff80.otf);
}
@font-face {
  font-family: "font_regular";
  src: url(../../public/fonts/OnsiteStandardTRIAL-Regular-BF64b60bd6980ca.otf);
}
@font-face {
  font-family: "font_medium";
  src: url(../../public/fonts/OnsiteStandardTRIAL-Medium-BF64b60bd692af5.otf);
}
@font-face {
  font-family: "font_bold";
  src: url(../../public/fonts/OnsiteStandardTRIAL-Bold-BF64b60bd69b69d.otf);
}

@import "tailwindcss";

body {
  overflow-x: hidden;
  width: 100%;
  color: #0e1111;
  background-color: #fffaf0;
}
p {
  font-family: font_regular;
}
.font-bold,
h1 {
  font-family: font_bold !important;
}
.font-medium,
h2 {
  font-family: font_medium !important;
}
.font-light,
h5 {
  font-family: font_light !important;
}
h6 {
  font-family: font_thin !important;
}
.custom_scroller::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.388);
  height: 3px;
}
.custom_scroller::-webkit-scrollbar-thumb {
  background-color: #0e1111;
  border-radius: 10px;
}
.custom_scrollbar::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.247);
  width: 4px;
}
.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #0e111179;
  border-radius: 10px;
  cursor: pointer;
}

.scroller_none::-webkit-scrollbar {
  display: none;
}
[data-lenis-prevent] {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
.fixy1 {
  transform: translateY(1px);
}
.fixy1_5 {
  transform: translateY(1.5px);
}
.black {
  background-color: #0e1111;
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* default Swiper pagination styling override */
.swiper_elem_2 .swiper-pagination {
  bottom: 0px !important; /* push a bit up from bottom */
  left: 50% !important;
  transform: translateX(-50%) !important;
  text-align: center !important;
}

.swiper_elem_2 .swiper-pagination-bullet {
  background: #000 !important; /* black bullets */
  opacity: 0.2;
}

.swiper_elem_2 .swiper-pagination-bullet-active {
  background: #000 !important; /* active bullet */
  opacity: 1;
}

.swiper-button-next {
  opacity: 0 !important;
}
.swiper-button-prev {
  opacity: 0 !important;
}
